.all-races{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 100%; */
    width: 100%;
    gap: 10px;
    padding: 0px 20px;
    height: 100vh;        /* Altura total de la pantalla */
    overflow-y: auto;     /* Scroll solo cuando se necesite */
    overflow-x: hidden;   
    direction: rtl;  
}

.filters{
    direction: ltr;
    margin-top: 20px;
}