@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');

.number{
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.card:hover .number,
.parent:active .number {
    color: red; /* Cambia el color cuando el padre tiene hover */
    transform: scale(1.2); /* Efecto de escala opcional */
    transition: color 0.3s ease, transform 0.3s ease;
}

.title{
    font-size: 2.25rem;
    color: red;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    margin: 40px;
}

@media (max-width: 425px) {
    .card{
        width: 150px;
        
    }
    h3 {
        font-size: 24px;
        padding: 0;
    }
    h4{
        font-size: 18px;
        padding: 0;
    }
    .title{
        font-size: larger;
        margin: 20px 0px  20px 0px;
        text-align: center;
    }
}