.driver-container{
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; 
    align-items: start; 
    background-color: rgba(141, 153, 174, 0.3); 
    padding-right: 20px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 2px, rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 4px 8px, rgba(0, 0, 0, 0.15) 0px 8px 16px, rgba(255, 255, 255, 0.15) 0px 16px 32px, rgba(255, 255, 255, 0.15) 0px 32px 64px;
    /* box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px; */
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.driver-img{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,19,19,0.6783088235294117) 0%, rgba(1,139,167,1) 100%);    
    border-radius: 0% 100% 50% 50% / 100% 59% 41% 5%   ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

img{
    width: 30vh;
    
}

.driver-data {
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: left;
}



.team{
    font-size: 1.5rem;
}
.div-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2px 3px  0px 3px; 
}
.name{
    font-size: 2.25rem;
    justify-content: center;
}
.last-position{
     
    justify-content: space-around;    
}
.last-position:hover{
    background-color: rgba(72, 23, 117, 0.314);
    transition: 0.300s;
}
.soft{
    align-self: flex-end;
    color: gray;
    font-size: x-small;
}

@media (max-width: 430px) {
    
        .driver-container {
            flex-direction: column; 
            justify-content: space-around;
            align-items: start;
            max-width: 350px; 
            padding-right: 20px;
        }
    
        .driver-img {
            height: 40%;
            max-width: 200px;           
            display: flex;
            align-items: flex-end;   
        }

        img{
            height: 100%;
            width: 90%; 
        }
    
        .driver-data {
            align-items: flex-end;
            text-align: start;
            width: 100%;
            
        }
    
        .name {
            font-size: 1.5rem;
        }
    
        .team {
            font-size: 1rem;
        }

        .div-data{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 2px 3px  0px 3px; 
        }

        .last-position{
            background-color: rgba(72, 23, 117, 0.401); 
            justify-content: space-around;    
        }

        .name{
            justify-content: center;
            font-size: 30px;
        }

        .soft{

            color: gray;
            font-size: x-small;
           
        }
        

    
}