.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh; 
    justify-content: space-around;
  }
  
  .left, .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
.right {
  flex-direction: column;
  justify-content: center;

}

.left{
  justify-content: center;
  
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr ; 
    height: 100vh; 
    justify-content: space-around;
  }
  p{
    font-size: smaller;
  }
  
}