.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh; 
    justify-content: space-around;
   
  }
  
  .left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  