.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh; 
    justify-content: space-around;
  }
  
  .left, .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
.right {
  flex-direction: column;
  justify-content: start;
  margin-top: 26%;
}

.left{
  justify-content: center;
}