@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');
:root{
    font-family: "Titillium Web", sans-serif;
}

h4{
    font-family: "Dancing Script", sans-serif;
    
}

.soft{
    align-self: flex-end;
    color: gray;
    font-size: x-small;
}